[submodule "themes/apollo"]
	path = themes/apollo
	url = https://github.com/not-matthias/apollo.git
[submodule "themes/apollo_x"]
	path = themes/apollo_x
	# url = ../apollo_x/
	url = https://github.com/cielbird/apollo_x.git
